$lightGreen: #b9e7d4;
body{
    background-color: #f2f2f2
}
.app{
    display: flex;
    justify-content: center;

    .container{
        width: 1024px;

        .link{
            text-decoration: none;
            color: inherit;
        }

        //LOGIN and REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: lightblue;

            h1{
                font-size: 20px;
                color: steelblue;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: steelblue;
                    color: white;
                    cursor: pointer;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //NAVBAR
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                    width: 170px;
                    border-radius: 50%;
                    }
                }
                
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 16px;
                        font-weight: 300;

                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: lightblue;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border:  1px solid #f2f2f2;

                        &:hover{
                            color: steelblue;
                            background-color: #f2f2f2;
                            border: 1px solid steelblue;
                        }
                    }
                }
            }
        }

        //FOOTER
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: lightblue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            
            

            img{
                height: 100px;
                border-radius: 50%;
            }
        }

        //HOMEPAGE
        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: lightblue;
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            z-index: -1;
                        }

                        img{
                            width: 400px;
                            height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 48px;
                        }

                        p{
                            font-size: 18px;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: #f2f2f2;
                            border: 1px solid steelblue;
                            color: steelblue;

                            &:hover{
                                border: 1px solid #f2f2f2;
                                background-color: lightblue;
                                color: black;
                            }
                        }
                    }
                }
            }
            #noCat{
                
                display: flex;
                align-self: center;
                justify-content: center;
            }
            #noCat1{
                
                display: flex;
                align-self: center;
                justify-content: center;
            }
        }

        //SINGLE
        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                    max-width: 700px;
                    height: 350px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;

                    .edit-button{
                        background-color: lightblue;
                    }
                    .delete-button{
                        background-color: lightcoral;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        
                    }
                }

                h1{
                    font-size: 42px;
                    color: darkslategray;
                    max-width: 700px;
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                    max-width: 700px;
                }

            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: darkslategray
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2{
                        color: darkslategray;
                    }

                    button{
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        color: steelblue;
                        background-color: #f2f2f2;
                        border: 1px solid steelblue;

                        &:hover{
                            border: 1px solid #f2f2f2;
                            background-color: lightblue;
                            color: black;
                        }
                    }
                }
            }
        }

        //WRITE
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;
                    text-align: left;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;
                    

                    h1{
                        font-size: 20px;
                    }

                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :last-child{
                            cursor: pointer;
                            color: #f2f2f2;
                            background-color: steelblue;
                            border: 1px solid steelblue;
                            padding: 3px 5px;

                            &:hover{
                                
                                background-color: steelblue;
                                color: #f2f2f2;
                            }
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: steelblue;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 600px){

    .app{
        display: flex;
        justify-content: center;
    
        .container{
            width: 380px;

            //NAVBAR
            .navbar{
                .container{
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .logo{
                        img{
                        margin: 10px;
                        display: block;
                        width: 90px;
                        border-radius: 50%;
                        }
                    }
                    
                    .links{
                        display: flex;
                        flex-direction:row;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 5px;

                        h6{
                            font-size: 10px;
                            font-weight: 300;

                        }

                        span{
                            cursor: pointer;
                            
                        }
                        .link{
                            font-size: 10px;

                            
                        }

                        .write{
                            background-color: lightblue;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            
                            justify-content: center;
                            font-weight: 300;
                            border:  1px solid #f2f2f2;

                            &:hover{
                                color: steelblue;
                                background-color: #f2f2f2;
                                border: 1px solid steelblue;
                            }
                        }
                    }
                    
                }
            }
            //HOMEPAGE
        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 75px;

                .post{
                    display: block;
                    flex-direction: row;
                   
                    gap: 100px;
                    // align-items: center;

                    .img{
                        align-self: center;
                        margin-left: 10%;
                        

                        &::after{
                            content: "";
                            width: 300px;
                            height: 300px;
                            background-color: lightblue;
                            position: absolute;
                            margin-right: 20px;
                            top: 20px;
                            
                            z-index: -1;
                        }

                        img{
                            width: 300px;
                            height: 300px;
                            object-fit: cover;
                        }
                    }

                    .link{
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        margin-top: 5%;
                    }

                    

                    .content{
                        
                        display: block;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;

                        h1{
                            font-size: 48px;
                        }

                        p{
                            font-size: 18px;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: #f2f2f2;
                            border: 1px solid steelblue;
                            color: steelblue;

                            &:hover{
                                border: 1px solid #f2f2f2;
                                background-color: lightblue;
                                color: black;
                            }
                        }
                    }
                }
            }
            #noCat{
                
                display: flex;
                align-self: center;
                justify-content: center;
            }
            #noCat1{
                
                display: flex;
                align-self: center;
                justify-content: center;
            }
        }

        
        //SINGLE
        .single{
            display: flex;
            flex-direction: column;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        margin-left: 8px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .edit{
                    display: flex;
                    margin: 15px;
                    gap: 5px;

                    img{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1{
                    font-size: 42px;
                    color: darkslategray;
                    text-align: center;
                    margin-top: -10px;
                }

                p{  
                    margin-top: 5px;
                    text-align: center;
                    line-height: 30px;
                }

            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    
                    font-size: 20px;
                    color: darkslategray;
                    text-align: center;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2{
                        color: darkslategray;
                    }

                    button{
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        color: steelblue;
                        background-color: #f2f2f2;
                        border: 1px solid steelblue;

                        &:hover{
                            border: 1px solid #f2f2f2;
                            background-color: lightblue;
                            color: black;
                        }
                    }
                }
            }
        }

        }   
    }
}

@media (max-width: 768px){

}

@media (max-width: 992){

}

@media (max-width: 1200){

}